---

---

<section class="hero">
    <div class="hero-content">
        <h1>NewsMx Tv®</h1>
        <p>
            Tu fuente de noticias y entretenimiento.<br />
            Actualidad y análisis en medios digitales
        </p>
    </div>
</section>
